/*//////////// HEADER SECTION */
/*Header */

.header { 
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /*background: $main_color;*/
  background: url(/images/paws/sborder.png) no-repeat 0 0;
  height: 6rem;
  z-index: 2;
  width: 100%;
  line-height: 2.5rem;
  padding-left: 1rem;
  /*border-bottom: 1px solid $main_dark; */
}
  @media only screen and (min-width:768px) {
    .header {
      text-align: center; 
      background: url(/images/paws/mborder.png) no-repeat 0 0; 
    } 
  }

@media only screen and (min-width:961px) {
    .header {
      text-align: center; 
      background: url(/images/paws/lborder.png) no-repeat 0 0;  
    } 
}

@media only screen and (min-width:1351px) {
    .header {
      text-align: center; 
      background: url(/images/paws/xlborder.png) no-repeat 0 0; 
    } 
}







.logo__text {
  font-size: 1rem;
  color: #fff;
  font-family: $headings;
  font-weight: bold; }
  @media only screen and (min-width:768px) {
    .logo__text {
      margin: 0px;
      text-align: center; } 
}

.logo__image {
  position: absolute;
  top: 0.6rem;
  right: 10px;
  width: 6rem;
  color: #fff;
  height: 6rem;
  background: url(/images/paws/logo200.png) no-repeat 0 0;
  background-size: contain; }
  @media only screen and (min-width:768px) {
    .logo__image {
      /*bottom: -0.77rem;*/
       } }

@media only screen and (max-width: 480px) {
  .menu__image {
    display: none; } }

@media only screen and (min-width:481px) {
  .menu__image {
    position: absolute;
    top: 1.75rem;
    right: 7rem;
    width: 5.5rem;
    color: #fff;
    height: 4rem;
    background: url(/images/site/menu.png) no-repeat 0 0;
    background-size: contain; } }
@media only screen and (min-width:768px) {
  .menu__image {
    top: 1.75rem;
    } }

/*End Header*/