input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.video__home{
	@media #{$small-only} { 
		background-color: $main_dark;
	  	background: transparent url(/images/paws/mobiledog.png) 50% 50% / cover no-repeat ;
	 	height: 23.5rem;
	 	width: 100%; 
	 	margin-top: -2.5rem; 
	 	overflow: hidden;
	 	background-size:cover;  
  	}

  	@media #{$medium-only} { 
		background-color: $main_dark;
		background: transparent url(/images/paws/mobiledog.png) 50% 50% / cover no-repeat ;
	  	/*background: url(/images/paws/mobiledog.png) no-repeat 0 0; */
	 	height: 23.5rem;
	 	width: 100%;
	 	margin-top: -2.5rem;
	 	overflow: hidden;
	 	background-size:cover; 
  	}  
} 


video#bgvid {
	@media #{$small-only} {
		display: none;
		background-size:cover; 
	}
	@media #{$medium-only} {
		display: none;
		background-size:cover; 
	}
	
	@media #{$large-up} { 

  		position: static; 
		/*top: -2.5;*/
		/*right: 0; */
		/*bottom: 0;*/
		margin-top: -2.5rem;
		min-width: 100%; 
		min-height: 100%;
		width: auto;  
		height: auto; 
		z-index: -100;
		background: url(/images/paws/videopic.jpg) no-repeat 0 0;
		background-size: cover;	
  	}
}

/*@media only screen and (max-width: 480px) {
	body.showPanel video#bgvid{
		display:none;
	}
}*/
.section__white--form{
	position: absolute;
	top: 6.5rem;
	/* background-color: #fff; */
	padding: 1rem;
	/* width: 100%; */
	/* border: 1px solid #e0e0e0; */
	color: #fff;
	@media #{$medium-up} { 
  		top: 6rem;
  	}

	@media #{$large-up} { 
  		top: 12rem;
  	}

  	@media #{$xlarge-up} { 
  		top: 19rem;
  		/*background-color: green;*/
  	}

}
 
.section__white--homepage{
	position: relative;
	font-family: paws_heading;
	color: $main_dark;
	font-size: 2.3rem;
	background-color: #fff;
	padding-top: 9rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom:5rem;
	text-align: center;
	z-index: -1;
	@media #{$medium-up} { 
  		padding:5rem;
  		font-size: 3.1rem;
  	}
  	@media #{$large-up} { 
  		padding:5rem;
  		font-size: 6.2rem;
  	}
  	@media #{$xlarge-up} { 
  		padding:5rem;
  		font-size: 8.3rem;
  	}
  	@media #{$xxlarge-up} { 
  		padding:5rem;
  		font-size: 10rem;
  	}
}
.section__mission{
	position: relative;
	font-family: paws_base_font; 
	font-weight: 100;
	padding-top:3rem;
	padding-bottom:3rem;
	text-align:center;
	font-size:18px;
	background-color:$main_color;
	color:#fff;
	@media #{$small-only} { 
  		font-size:22px;
  	}
}

.section__vision{
	position: relative;
	font-family: base_font; 
	font-weight: 100;
	padding-top:3rem;
	padding-bottom:3rem;
	text-align:center;
	font-size:18px;
	background-color:$main_dark;
	color:#fff;
	@media #{$small-only} { 
  		font-size:22px;
  	}
}

.error_message {
  font-size: 80%;
  color: #ff7c81;
}

.video__link{
	color: $text;
  	position: fixed;
  	bottom: 1rem;
  	right: 1rem;
}
.video__link:hover{
	color: $main_dark;
}

.bullet_point{
	list-style-type: circle;
}

.vision_list{
	text-align: left;
	@media #{$small-only}{
		padding-left: 2rem;
		padding-right: 0.5rem;
	}
}

.section__facebook{
	/*position: relative;*/
	margin: 0rem;
	font-family: paws_heading;
	color: $main_color;
	font-size: 2.3rem;
	background-color: $main_light;
	padding-top: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom:5rem;
	text-align: center;
	z-index: -1;
	@media #{$medium-up} { 
  		padding:5rem;
  		font-size: 3.1rem;
  	}
  	@media #{$large-up} { 
  		padding:5rem;
  		font-size: 6.2rem;
  	}
  	@media #{$xlarge-up} { 
  		padding:5rem;
  		font-size: 8.3rem;
  	}
  	@media #{$xxlarge-up} { 
  		padding:5rem;
  		font-size: 10rem;
  	}
}

.vision_p{
	text-align: center;
}

.leaf1{
	position: absolute;
	bottom: 1rem;
	left: 0;
	margin: 0;
}

.leaf2{
	position: absolute;
	bottom: 0;
	right: 2rem;
}

.leaf3{
	position: absolute;
	right: 0;
	bottom: -9rem;
}

.registered__message{
	font-family: paws_base_font; 
	color: #fff;
	border: 1px solid #e0e0e0;
	/* background: #fff; */
	padding: 1rem;
	font-size: 28px;
}

.facebook__link{
	padding-top: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom:5rem;
	/*text-align: center;*/
	color: $main_color;
	@media #{$medium-up} { 
  		/*padding:5rem;*/
  		font-size: 3.1rem;
  	}
  	@media #{$large-up} { 
  		/*padding:5rem;*/
  		font-size: 6.2rem;
  	}
  	@media #{$xlarge-up} { 
  		/*padding:5rem;*/
  		font-size: 8.3rem;
  	}
  	@media #{$xxlarge-up} { 
  		/*padding:5rem;*/
  		font-size: 10rem;
  	}
}

#fs:hover{ background-color: #3b5998; }
#fs:hover #fl {color: white}